// var HTTPSProxyAgent = require('https-proxy-agent');
// var sauceRestAgent = new HTTPSProxyAgent("http://<proxy>:<port>")

  var config = require('./constants.js');
var params;

var value = "Starting Sauce Protractor script now";
console.log(value);

console.log("\nSauce User: " +config.sauceuser);
// console.log("\nSauce Access Key: " +config.sauceaccesskey);

exports.config = {

   // sauceUser: process.env.SAUCE_USERNAME,
    // sauceKey: process.env.SAUCE_ACCESS_KEY,


//  sauceusername: 'iflanagan',
//  key:'4513840c-236b-4045-86bd-88e0c0ebfb50',


    
    // sauceAgent: sauceRestAgent,

    // webDriverProxy: 'http://<proxy>:<port>',

    seleniumAddress: 'http://ondemand.saucelabs.com:80/wd/hub',
    specs: ['specs/*spec.js'],

    // restartBrowserBetweenTests: true,

    onPrepare: function () {
        var caps = browser.getCapabilities()
    },

    multiCapabilities: [{

        browserName: 'firefox',
        version: 'latest',
        sauceUser: config.sauceuser,
        sauceKey: '4513840c-236b-4045-86bd-88e0c0ebfb50',
	platform: 'OS X 10.10',
        name: "firefox-tests",
        shardTestFiles: true,
        maxInstances: 2
    }, {
        browserName: 'chrome',
        version: '41',
	sauceUser: config.sauceuser,
        sauceKey: '4513840c-236b-4045-86bd-88e0c0ebfb50',
        platform: 'Windows 7',
        name: "chrome-tests",
        shardTestFiles: true,
        maxInstances: 2
    }],

    onComplete: function () {

        var printSessionId = function (jobName) {
            browser.getSession().then(function (session) {
                console.log('SauceOnDemandSessionID=' + session.getId() + ' job-name=' + jobName);
            });
        }
        printSessionId("Ian_Protractor_Test");
    }
}
